<div>
  <div class="tabs is-boxed is-centered">
    <ul>
      <li routerLinkActive="is-active">
        <h1> BTC {{value_e}}$ </h1>
      </li>
    </ul>
  </div>
  <md-tab-group>
    <md-tab label="Market BTC">
      <div>
        <nvd3 [options]="options" [data]="data"></nvd3>
      </div>
    </md-tab>
    <md-tab label="Market LTC">Coming soon</md-tab>
    <md-tab label="Market ETH">Coming soon</md-tab>
    <md-tab label="Market USD">Coming soon</md-tab>
    <md-tab label="Market DSH">Coming soon</md-tab>
  </md-tab-group>
</div>
