<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >- I L D E V E L O P -</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-text">
       <span>BitCoinDynamic Application</span>

      </ul>
      <ul class="nav navbar-inverse navbar-right ">
        <li ><a href="#">BUY / SELL <span class="sr-only"></span></a></li>
        <li ><a href="#"> MARKET DATA <span class="sr-only">(current)</span></a></li>
        <li ><a href="#">MARGIN TRADING <span class="sr-only">(current)</span></a></li>
        <li ><a (click)="sidenav.open()">GET STARTED<span class="sr-only">(current)</span></a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="tabs is-boxed is-centered">
  <ul>
    <li routerLinkActive="is-active">
      <span class="icon is-large"></span>
      <span class="tab">Market BTC 1236$</span>

    </li>
  </ul>
</div>
<nav class="navbar navbar">
  <md-sidenav-container class="example-container">
    <md-sidenav #sidenav class="example-sidenav">
      <md-tab-group >
        <md-tab label="Log In">
          <md-input-container>
            <input mdInput placeholder="Email" value="">
          </md-input-container>
          <md-input-container >
            <input type="password" mdInput placeholder="Password" value="">
          </md-input-container>
          <button md-raised-button><span>Log In</span></button>
        </md-tab>
        <md-tab label="Sign Up">
          <md-input-container>
            <input mdInput placeholder="Name" value="">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Email" value="">
          </md-input-container>

          <md-input-container >
            <input type="password" mdInput placeholder="Password" value="">
          </md-input-container>
          <md-input-container >
            <input type="password" mdInput placeholder="Confirm password" value="">
          </md-input-container>
          <button md-raised-button><span>Log In</span></button>
        </md-tab>
      </md-tab-group>

    </md-sidenav>
    <div class="example-sidenav-content">
      <button md-button (click)="sidenav.open()">
        Log In
      </button>

      <div class="container">
        <h1>Get Market Chart</h1>
        <app-chart></app-chart>
      </div>
    </div>
  </md-sidenav-container>
</nav>


  <router-outlet></router-outlet>
