a ,span{
  font-size: 20px;
}

.navbar-brand{
  position: relative;
  left:80%;
  color: aqua;
}
.navbar-text{
  background: #222;
  margin-left: 250px;
  color: #fff;
}
.navbar-inverse{
  padding-right: 50px;
}
